extends layout

block content
  .container
    h1.title.summary FAQ
    p Please read before using #{config.SITE_NAME}.
    ul
    li #{config.SITE_NAME} does NOT support old browsers, deal with it.
    li Uploading tools for #{config.SITE_NAME} can be found on the  
      a(href= config.URL + 'tools') tools
      |  page.
    li Maximum upload file size is #{config.MAX_UPLOAD_SIZE/1000000}MB. All uploads are public.
    li Currently all content is allowed under France law. Malware and child porn is not welcome here.
    li #{config.BANNED_EXTS.join(', ')} filetypes are not allowed.
    li No logs are kept, no logs over uploading nor over downloading, who cares anyway?
    li For removal of a file or to submit abuse reports (DMCA) see our 
      a(href= config.URL + 'contact') contact
      |  page.
